.CartContainer {
    margin-left: 9em;
    text-align:center;
    width: 95em;
}
.ProductCard {
    display: block;
    margin: 10em 3em;
    margin-left: 5em;
    width: 30em;
    height: 30em;
    background-color: #C1974F;
    border-radius: 1em;
}

.innerProd {
    transform: scale(0.7);
    margin: 1em;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 0.5em;
    padding-bottom: 1em;

}

.formCompra {
    margin: 15em auto;
    background-color: #C1974F;
    border-radius: 1em;
    padding: 2em;
    align-text: center;
    display: block;
    text-align: left;
}

.formCompra label {
    display: block;
    margin: 0.5em;
    padding: 0.5em;

}
.tostyAlert {
    background-color: #C1974F;

}

.precioTachado {
    text-decoration:line-through;
    color: red;
}

