.ProductContainer {
    display: flex;
    flex-direction: row;
    border-radius: 2.5em;
    align-items: center;
    width: 72em;
    background-color: #e1c087;
    padding: 2em;
    margin:0px auto;
    margin-top: 2em;

}
.imgLarge{
    transform: scale(0.6);
    border-radius: 1em !important;
}
