.logoImg {
    
    margin-top: 4em;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    background-color: #C1974F;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 2em
}

.list li {
    margin: 0.5em;
    font-size: 0.5em;
}

.list li a {
    color: white;
    text-decoration: none;
} 

.list li a:hover{
    color: black;
}
